//footer stick to bottom
.content {
	min-height: calc(100vh - 94px);
}

//footer
.footer{
	width: 100%;
	position: absolute;
	background: $salmon;
	height: 94px;
}
.footer_inner{
	margin: 14px 17px 14px;
	display: flex;
}


//text styling
.mabry_g{
	@extend %mabryG;
}
.footer_content_style{
	color: white;
}

//icon positioning
.footer_icons{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.footer_icons_inner{
	padding: 0 5px;
	width: 25px;
}

@media screen and (min-width: $screen-one) {
	.footer{
		height: 130px;
	}
	.footer_inner{
		margin: 24px 20px 32px;
	}
	.mabry_g{

	}
}

@media screen and (min-width: $screen-two) {
	.footer{
		height: 138px;
	}
	.footer_inner{
		margin: 30px 20px 30px;
	}
	.mabry_g{
		@include mabryF;
	}
}

@media screen and (min-width: $screen-three) {
	.footer{
		
	}
	.footer_inner{
		margin: 30px 20px 30px;
	}
	.mabry_g{
		
	}
}
@media screen and (min-width: $screen-four){
	.footer_inner{
		margin: 30px 12vw 30px;
	}
}