.grid_container{
	display: grid;
	grid-template-columns: 16px 1fr 16px;
	padding: 48px 0 0px;
	row-gap: 16px;
	grid-template-rows: max-content;
	//use this to test grid for adjustments
	//background: yellow;
}
.border{
	//use this to test grid for adjustments
	border: solid red 2px;
}

.grid_image{
	width: 100%;
	display: block;
	height: auto;
}

@media screen and (min-width: $screen-one) {
	.grid_container{
		grid-template-columns: 20px 1fr 20px 1fr 20px;
		row-gap: 20px;
	}
}

@media screen and (min-width: $screen-two) {
	.grid_container{
		grid-template-columns: 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px;
		row-gap: 20px;
		padding: 64px 0 0px;
	}
}

@media screen and (min-width: $screen-three) {
	.grid_container{
		grid-template-columns: 20px repeat(11, 1fr 20px) 1fr 20px;
		padding: 64px 0 0px;
		//max-width: 1580px;
		margin: 0 auto;
	}
	.grid_container_secondary{
		max-width: none;
	}
}

@media screen and (min-width: $screen-four){
	.grid_container{
		grid-template-columns: 12vw repeat(11, 1fr 20px) 1fr 12vw;
		margin: 0 auto;
	}
}

.grid_container_secondary{
	@extend .grid_container;
	padding-top: 16px;
}