.header{
	width: 100%;
	height: 32px;
	background: $salmon;
	position: fixed;
	border-radius: 0 0 15px 15px;
	z-index: 9999;

	top: 0px;
	transition: top 0.2s ease-in-out;
}
//nav-up decides how much to move header up on scroll
.nav-up{
	top: -32px;
}

.float_left{
	padding-top: 6px;
	padding-left: 15px;
	float: left;
}
.float_right{
	padding-top: 6px;
	padding-right: 15px;
	float: right;
}
.mabry_card_b{
	@extend %mabryCardB;
	font-weight: 600;
	letter-spacing: 0.02em;
	color: white;
	display: inline-block;
}

@media screen and (min-width: $screen-one) {
	.header{
	}
	.nav-up{
	}
	.float_left{
		padding-left: 20px;
	}
	.float_right{
		padding-right: 20px;
	}
	.mabry_card_b{

	}
}

@media screen and (min-width: $screen-three) {
	.header{
		height: 38px;
	}
	.nav-up{
		top: -38px;
	}
	.float_left{
		padding-top: 3.5px;
		padding-left: 40px;
	}
	.float_right{
		padding-top: 3.5px;
		padding-right: 40px;
	}
	.mabry_card_b{
		@include mabryCardA;
	}
}