.header_gap{
	height: 48px;
}
.header{
	position: fixed;
	width: auto;
	z-index: 9999;
	left: 8px;
	right: auto;
	@media screen and (min-width: $screen-mobile) {
	right: 16px;
	left: auto;
	}
	@media screen and (min-width: $screen-one) {
		right: 20px;
	}
	@media screen and (min-width: $screen-four) {
		right: 12vw;
	}
}
.header_contact{
	margin-top: 8px;
	display: none;
	@extend %mabryC;
	color: $florescent-blue;
	text-align: right;
	font-weight: 200;
	@media screen and (min-width: $screen-two) {
		@include mabryB;
		font-size: 50px;
		font-weight: 200;
		display: block;
	}
	@media screen and (min-width: $screen-three) {
		@include mabryB;
		font-weight: 200;
	}
}
.header_projects{
	top: 4px;
	@media screen and (min-width: $screen-two) {
		top: 8px;
	}
	z-index: 99999;
	left: 16px;
	right: auto;
	position: fixed;
	@media screen and (min-width: $screen-four) {
		left: 12vw;
		right: auto;
	}
}
.header_hwan_projects{
	@extend %mabryC;
	@media screen and (min-width: $screen-two) {
		@include mabryB;
		font-size: 50px;
	}
	@media screen and (min-width: $screen-three) {
		@include mabryB;
	}
}

//Hero Section
.hero_emoji{
	@extend %initial;
	margin: 0px 16px 0 16px;
	@media screen and (min-width: $screen-one) {
		margin: 0px 20px 0 20px;
	}
	@media screen and (min-width: $screen-three) {
		margin: 0px 20px 20px 20px;
	}
	@media screen and (min-width: $screen-four) {
		margin-left: 12vw;
		margin-right: 12vw;
	}
}
.flag{
	display: inline-block;
	height: 50px;
	margin-right: 5px;
}
.love{
	display: inline-block;
	height: 40px;
	padding-bottom: 5px;
	margin-right: 5px;
}
.hero_text_outer{
	@extend %initial;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: -50px;
	@media screen and (min-width: $screen-one) {
		margin-left: 20px;
		margin-right: 20px;
	}
	@media screen and (min-width: $screen-two) {
		margin-top: -60px;
	}
	@media screen and (min-width: $screen-three) {
		margin-top: -73.6px;
	}
	@media screen and (min-width: $screen-four) {
		margin-left: 12vw;
		margin-right: 12vw;
	}
}
.hero_text{
	@extend %mabryC;
	font-weight: 200;
	display: inline;
	@media screen and (min-width: $screen-two) {
		@include mabryB;
		font-weight: 200;
		font-size: 50px;
		line-height: 120%;
	}
	@media screen and (min-width: $screen-three) {
		@include mabryB;
		font-weight: 200;
		line-height: 130%;
	}
}
.hero_text_discard{
	color: $florescent-blue;
	font-weight: bold;
	@extend %mabryC;
	display: inline;
	opacity: 0;
	@media screen and (min-width: $screen-two) {
		@include mabryB;
		font-size: 50px;
		line-height: 120%;
	}
	@media screen and (min-width: $screen-three) {
		@include mabryB;
	}
}
.hero_text_sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 4px;
	@media screen and (min-width: $screen-two) {
		top: 8px;
	}
	z-index: 999;
	@extend %initial;
}
.hero_text_sticky_inner{
	margin-left: 16px;
	color: $florescent-blue;
	@extend %mabryC;
	font-weight: 900;
	@media screen and (min-width: $screen-one) {
		margin-left: 20px;
	}
	@media screen and (min-width: $screen-two) {
		@include mabryB;
		font-size: 50px;
		line-height: 120%;
	}
	@media screen and (min-width: $screen-three) {
		@include mabryB;
	}
	@media screen and (min-width: $screen-four) {
		margin-left: 12vw;
	}
}
.hero_text_location{
	color: $salmon;
	font-weight: bold;
}