.hwan{
	margin-left: 10px;
	padding: 8px 20px;
	border-radius: 50px;
	background: $fruit-smoothie;
	display: inline-block;
	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
}
.hwan_inner{
	//styled with h3
}

@media screen and (min-width: $screen-one) {
	.hwan{
		margin-left: 10px;
		padding: 12px 33px;
	}
	.hwan_inner{
		@include mabryB;
	}
}

@media screen and (min-width: $screen-three) {
	.hwan{
		margin-left: 20px;
		padding: 14px 60px;
		border-radius: 100px;
	}
	.hwan_inner{
		@include mabryA;
	}
}