.round_edges{
	border-radius: 20px;
	overflow: hidden;
}



@media screen and (min-width: $screen-one) {
	
}

//Tag

.tag_outer{
	margin-top: 16px;
	margin-bottom: 8px;

	@media screen and (min-width: $screen-two) {
		
		position: absolute;
		background: rgba(233, 234, 238, 0.93);
		filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
		border-radius: 20px;

		bottom: 6px;
		//Center
		left: 50%;
		transform: translate(-50%, 0);

		padding: 16px;
		width: 82%;
	}
	@media screen and (min-width: 1200px) {
		bottom: 10px;
	}
	@media screen and (min-width: $screen-three) {
		padding: 20px;
		bottom: 12px;
		width: 85%;
	}
	@media screen and (min-width: $screen-four) {
		bottom: 7px;
	}
}
.tag_title{
	@extend %mabryD;
	color: black;
	line-height: 120%;

	@media screen and (min-width: $screen-two) {
		font-size: 20px;
	}
	@media screen and (min-width: $screen-three) {
		font-size: 24px;
	}
}
.tag_buttons_outer{
	margin-top: 16px;
	@media screen and (min-width: $screen-two) {
		margin-bottom: -12px;
		//bottom 12 from button line padding
	}
	@media screen and (min-width: $screen-three) {
		margin-top: 20px;
		margin-bottom: -12px;
	}
}
.tag_buttons_inner{
	@extend %mabryG;
	font-weight: 600;
	
	margin-right: 6px;
	margin-bottom: 12px;
	padding: 2px 12px;
	border-radius: 50px;
	background: white;
	display: inline-block;
	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
	color: $florescent-blue;
}