.round_edges{
	border-radius: 20px;
	overflow: hidden;
}



@media screen and (min-width: $screen-one) {
	
}

//Tag

.tag_outer{
	margin-top: 8px;
	margin-bottom: 8px;

	@media screen and (min-width: $screen-two) {
		
		position: absolute;
		background: rgba(233, 234, 238, 0.95);
		filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
		border-radius: 20px;

		bottom: 12px;
		//Center
		left: 50%;
		transform: translateX(-50%);

		padding: 16px;
		width: 85%;
	}
}
.tag_title{
	@extend %mabryD;
	color: black;
	line-height: 120%;
}
.tag_buttons_outer{
	margin-top: 16px;
}
.tag_buttons_inner{
	@extend %mabryE;
	
	margin-right: 6px;
	margin-bottom: 12px;
	padding: 4px 12px;
	border-radius: 50px;
	background: white;
	display: inline-block;
	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
	color: $florescent-blue;


}