.about_button{
		display: inline-block;
	@media screen and (min-width: $screen-one) {
		background: $raspberry-sunset;
		padding: 3px 12px;
		margin: 0px 3px 0px;
		border-radius: 20px;
		filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
	}
}

.about_button_inner{
	color: $florescent-blue;
	@include mabryF;
	font-weight: bold;
		@media screen and (min-width: $screen-one) {
			color: white;
			font-weight: normal;
			//font styled with h5
		}
		@media screen and (min-width: $screen-three) {
			@include mabryF;
		}
}