.page_tag_button {
	margin-right: 8px;
	margin-bottom: 16px;
	padding: 4px 12px;
	border-radius: 50px;
	background: white;
	display: inline-block;
	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
}
.page_tag_button_inner {
	color: $florescent-blue;
	//styled with h5
}


//Learn More
.learnmore_outer{
	transition: all 0.2s ease-in-out;
	margin-top: 32px;
	margin-left: 16px;
	@media screen and (min-width: $screen-one) {
		margin-left: 20px;
		width: 50vw;
	}
	@media screen and (min-width: $screen-two) {
		margin-left: 0px;
	}
}
.learnmore_inner{
	@extend %mabryD;
	color: $florescent-blue;

	&:hover{
		text-decoration: underline;
	}
}