//purple-bg -- RISD description
.sp_purple_about{
	margin-top: 24px; //+16x2 from row gap
	@media screen and (min-width: $screen-one) {
		margin-top: 100px; //+20x2 from row gap
	}
	@media screen and (min-width: $screen-two) {
		margin-top: 100px; //+20x2 from row gap
	}
	@media screen and (min-width: $screen-three) {
		margin-top: 180px; //+20x2 from row gap
	}
}
//about section -- footer
.bottom_space_index{
	height: 56px;
	@media screen and (min-width: $screen-one) {
		height: 140px;
	}
	@media screen and (min-width: $screen-two) {
		height: 160px;
	}
	@media screen and (min-width: $screen-three) {
		height: 240px;
	}
}



//description -- images && images -- more projects
.projects_description_images_moreprojects{
	margin-top: 40px;

	@media screen and (min-width: $screen-one) {
			margin-top: 80px;
	}

	@media screen and (min-width: $screen-two) {
			margin-top: 140px;
	}
	@media screen and (min-width: $screen-three) {
			margin-top: 250px;
	}
}

//more projects -- footer
.bottom_space_projects{
	height: 56px;
	@media screen and (min-width: $screen-one) {
		height: 40px;
	}
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}