// Colors
$dark-navy: #2A2867;//#2A2867
$ivory: #E9EAEE;
$florescent-blue: #4A13DC;
$salmon: #FA4C6B;//#FA4C6B

// Gradients (backgrounds: $name-of-variable)
$raspberry-sunset: linear-gradient(124.49deg, #B01EFF 0%, #E1467C 100%);
$peach-fuzz: linear-gradient(308.56deg, #F190A1 -6.95%, #F5D8DD 120.29%);
$fruit-smoothie: linear-gradient(312.77deg, #F190A1 33.15%, #B11FFD 122.23%);