.index_hi{
	@extend %mabryC;
	color: white;
	display: inline-block;
	margin-bottom: 10px;
}

.index_risd{
	//Used h4 to declare initial @extend
}

.index_aboutme{
	@extend %mabryCardB;
	line-height: 140%;
}

.projects_title{
	line-height: 110%;
}

.projects_description{
	@extend %mabryE;
	font-size: 17px;
	line-height: 19pt;
	font-weight: normal;
}

.projects_more{
	@extend %mabryCardB;
	display: none;
}

@media screen and (min-width: $screen-one) {
.index_hi{
	@include mabryB;
}

.index_risd{
	//no changes
}

.index_aboutme{
	@include mabryCardA;
	font-weight: 100;
	line-height: 140%;
}

.projects_title{
	@include mabryB;
	line-height: 110%;
}

.projects_description{
	font-size: 24px;
	line-height: 26pt;
	font-weight: 100;
}

.projects_more{
	display: block;
}
}

@media screen and (min-width: $screen-two) {
.index_hi{
	//no changes
}

.index_risd{
	//no changes
}

.index_aboutme{
	//no changes
}

.projects_title{
	//no changes
}

.projects_description{
	padding-top: 5px;
}

.projects_more{
	//no changes
}
}

@media screen and (min-width: $screen-three) {
.hero_text{
	@include mabryB;
}
.index_hi{
	font-size: 88px;
}

.index_risd{
	@include mabryC;
}

.index_aboutme{
	@include mabryC;
	font-weight: 100;
}

.projects_title{
	//no changes
}

.projects_description{

}

.projects_more{
	@include mabryD;
}
}

@media screen and (min-width: $screen-four) {
	.index_hi{
		@include mabryA;
	}
}