//slide in interaction
%initial{
	opacity: 0;
	transform: translateY(25px);
	transition: all 0.3s ease-out;
	@media screen and (min-width: $screen-one) {
		transform: translateY(50px);
	}
}

.grid_item_one {
	@extend %initial;
}
.grid_item_two {
	@extend %initial;
}
.grid_item_three {
	@extend %initial;
}
.grid_item_four {
	@extend %initial;
}
.grid_item_five {
	@extend %initial;
}
.grid_item_six {
	@extend %initial;
}
.grid_item_seven {
	@extend %initial;
}
.grid_item_eight {
	@extend %initial;
}
.grid_item_nine {
	@extend %initial;
}
.grid_item_ten {
	@extend %initial;
}

.initial{
	@extend %initial;
}

.about_one{
	@extend %initial;
}
.about_two{
	@extend %initial;
}
.about_three{
	@extend %initial;
}

.tag_animation{
	@media screen and (min-width: $screen-two) {
	transform: translate(10px, 10px);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	}
}

/* uncss:ignore */
.slide_in{
	@media screen and (min-width: $screen-two) {
		transform: translate(0,0);
		opacity: 1;
	}
}

.slide_initial{
	transform: translateX(0);
	transition: all 0.2s ease-in-out;
}
.projects_tag_outer_right{
	transform: translate(-20px, 0);
	opacity: 0;
	transition: all 0.3s;
}
.projects_tag_outer_left{
	transform: translate(20px, 0);
	opacity: 0;
	transition: all 0.3s;
}

/* uncss:ignore */
.slide_right{
	transform: translateX(0px);
	@media screen and (min-width: $screen-one) {
		transform: translateX(10px);
	}
	opacity: 1;
}