// defaults background
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-color: none;
}

//standardize links
.link_style_fix{
	text-decoration: none;
	color: $florescent-blue;
}
.button_style_fix{
	padding: 0;
	border: none;
	background: none;
}
.link_color_fix{
	color: white
}

//background color
body{
	background: $ivory;
}

//colorize!
.neon{
	color: $florescent-blue;
}

//screen sizes
$screen-mobile: 375px;
$screen-one: 650px;
$screen-two: 1024px;
$screen-three: 1440px;
$screen-four: 1600px;