//Imports
//Mabry Pro
@font-face {
	font-family: 'Mabry Pro';
	src: url('../assets/fonts/mabryPro/MabryPro.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/mabryPro/MabryPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    	url('../assets/fonts/mabryPro/MabryPro.woff2') format('woff2'), /* Super Modern Browsers */
    	url('../assets/fonts/mabryPro/MabryPro.woff') format('woff'), /* Pretty Modern Browsers */
    	url('../assets/fonts/mabryPro/MabryPro.ttf')  format('truetype'), /* Safari, Android, iOS */
    	url('../assets/fonts/mabryPro/MabryPro.svg#MabryPro-Regular') format('svg'); /* Legacy iOS */
    font-weight: normal;
}
@font-face {
	font-family: 'Mabry Pro';
	src: url('../assets/fonts/mabryProBold/MabryProBold.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/mabryProBold/MabryProBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    	url('../assets/fonts/mabryProBold/MabryProBold.woff2') format('woff2'), /* Super Modern Browsers */
    	url('../assets/fonts/mabryProBold/MabryProBold.woff') format('woff'), /* Pretty Modern Browsers */
    	url('../assets/fonts/mabryProBold/MabryProBold.ttf')  format('truetype'), /* Safari, Android, iOS */
    	url('../assets/fonts/mabryProBold/MabryProBold.svg#MabryPro-Bold') format('svg'); /* Legacy iOS */
    font-weight: 900;
}
@font-face {
	font-family: 'Mabry Pro';
	src: url('../assets/fonts/mabryProMedium/MabryProMedium.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/mabryProMedium/MabryProMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    	url('../assets/fonts/mabryProMedium/MabryProMedium.woff2') format('woff2'), /* Super Modern Browsers */
    	url('../assets/fonts/mabryProMedium/MabryProMedium.woff') format('woff'), /* Pretty Modern Browsers */
    	url('../assets/fonts/mabryProMedium/MabryProMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
    	url('../assets/fonts/mabryProMedium/MabryProMedium.svg#MabryPro-Medium') format('svg'); /* Legacy iOS */
    font-weight: 600;
}
@font-face {
	font-family: 'Mabry Pro';
	src: url('../assets/fonts/mabryProLight/MabryProLight.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/mabryProLight/MabryProLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    	url('../assets/fonts/mabryProLight/MabryProLight.woff2') format('woff2'), /* Super Modern Browsers */
    	url('../assets/fonts/mabryProLight/MabryProLight.woff') format('woff'), /* Pretty Modern Browsers */
    	url('../assets/fonts/mabryProLight/MabryProLight.ttf')  format('truetype'), /* Safari, Android, iOS */
    	url('../assets/fonts/mabryProLight/MabryProLight.svg#MabryPro-Light') format('svg'); /* Legacy iOS */
    font-weight: 200;
}

//Website Typography Styles
//Mabry Pro Styles
@mixin mabryA{
	font-size: 120px;
	line-height: 130%;
	font-family: 'Mabry Pro';
	font-weight: 900;
}
%mabryA{
	@include mabryA;
}
@mixin mabryB{
	font-size: 64px;
	line-height: 100%;
	font-family: 'Mabry Pro';
	font-weight: 900;
}
%mabryB{
	@include mabryB
}
@mixin mabryC{
	font-size: 36px;
	line-height: 140%;
	font-family: 'Mabry Pro';
	font-weight: 900;
}
%mabryC{
	@include mabryC;
}
@mixin mabryD{
	font-size: 24px;
	line-height: 140%;
	font-family: 'Mabry Pro';
	font-weight: 900;
}
%mabryD{
	@include mabryD;
}
@mixin mabryE{
	font-size: 20px;
	line-height: 140%;
	font-family: 'Mabry Pro';
	font-weight: normal;
}
%mabryE{
	@include mabryE;
}
@mixin mabryF{
	font-size: 17px;
	line-height: 150%;
	font-family: 'Mabry Pro';
	font-weight: normal;
}
%mabryF{
	@include mabryF;
}
@mixin mabryG{
	font-size: 15px;
	line-height: 150%;
	font-family: 'Mabry Pro';
	font-weight: normal;
}
%mabryG{
	@include mabryG;
}
@mixin mabryH{
	font-size: 12px;
	line-height: 110%;
	font-family: 'Mabry Pro';
	font-weight: normal;
}
%mabryH{
	@include mabryH;
}
@mixin mabryCardA{
	font-size: 24px;
	line-height: 27px;
	font-family: 'Mabry Pro';
	font-weight: 600;
}
%mabryCardA{
	@include mabryCardA;
}
@mixin mabryCardB{
	font-size: 18px;
	line-height: 20px;
	font-family: 'Mabry Pro';
	font-weight: normal;
	letter-spacing: 0.00em;
}
%mabryCardB{
	@include mabryCardB;
}

//h1~h6
h1{
	@extend %mabryA;
}
h2{
	@extend  %mabryB;
}
h3{
	@extend  %mabryC;
}
h4{
	@extend  %mabryD;
}
h5{
	@extend  %mabryE;
}
h6{
	@extend  %mabryF;
}