.circle {
	position: absolute;
	background-color: $florescent-blue;
	width: 0px; 
	height: 0px;
	border-radius: 47% 51% 48% 53%;
	z-index: -999;
	visibility: hidden;
	transition: background-color 0.3s ease;


	@media screen and (min-width: $screen-one) {
		width: 220px; 
		height: 200px;
		visibility: visible;
	}
	@media screen and (min-width: $screen-two){
		transform: scale(1.3);
	}
	@media screen and (min-width: $screen-three){
		transform: scale(1.6);
	}
}

//circle bg colors
/* uncss:ignore start */
.bg_1{
	background: $salmon;
}
.bg_2{
	background-color: none;
	background-image:url(https://media.giphy.com/media/4ml290TZ35zOM/giphy.gif);
	background-size: 200px;
}
.bg_giriboy{
	background-color: none;
	background-image:url(https://media.giphy.com/media/l3IU68w0DEgkYji1xM/giphy.gif);
	background-size: 280px;
}
.bg_movies{
	background-color: none;
	background-image:url(https://media.giphy.com/media/SupA7OgPcAI0g/giphy.gif);
	background-size: 320px;
}
.bg_sneakers{
	background-color: none;
	background-image:url(https://media.giphy.com/media/VDkBtCDN4Ju7aLk3Bp/giphy-downsized.gif);
	background-size: 250px;
}
.bg_spaghetti{
	background-color: none;
	background-image:url(https://media.giphy.com/media/Hw6UVMpnc0oXS/giphy.gif);
	background-size: 380px;
	background-position: center;
}
.bg_frank{
	background-color: none;
	background-image:url(https://media.giphy.com/media/jCmVGeJu7tN4Y/giphy.gif);
	background-size: 400px;
	background-position: center;
}
/* uncss:ignore end */

//image positions
.image_one{
	grid-column: 2;
	grid-row: 1;
}
.image_two{
	grid-column: 2;
	grid-row: 2;
}
.image_three{
	grid-column: 2;
	grid-row: 3;
}
.image_four{
	grid-column: 2;
	grid-row: 4;
}
.image_five{
	grid-column: 2;
	grid-row: 5;
}
.image_six{
	grid-column: 2;
	grid-row: 6;
}
.image_seven{
	grid-column: 2;
	grid-row: 7;
}
.image_eight{
	grid-column: 2;
	grid-row: 8;
}
.image_nine{
	grid-column: 2;
	grid-row: 9;
}
//navy background
.background_navy_z{
	background-color: $dark-navy;
	grid-column: 1/4;
	grid-row: 10;
	width: 100%;
	height: 95%;
	margin-top: 24px;
	z-index: -1000;

	@media screen and (min-width: $screen-one) {
		grid-column: 1/6;
		grid-row: 6;
		margin-top: 60px;
	}
	@media screen and (min-width: $screen-two) {
		grid-column: 1/26;
		grid-row: 4;
		margin-top: 40px;
	}
	@media screen and (min-width: $screen-three) {
		margin-top: 80px;
	}
}
.background_navy{
	grid-column: 1/4;
	grid-row: 10;
	margin-top: 24px;
	padding: 80px 16px 80px;
}
.hobby_section{
	margin-top: 16px;

	@media screen and (min-width: $screen-one) {
		margin-top: 46px;
	}
}

//about section
.sp_purple_about{
		grid-row: 11;
	}
.about_one{
	grid-column: 2;
	grid-row: 12;
}
.about_two{
	grid-column: 2;
	grid-row: 13;
}
.emoji_mortarboard{
	width: 64px;
	height: 64px;
}
.about_three{
	margin-top: 20px;
	grid-column: 2;
	grid-row: 14;
}
.inline_block{
	display: inline-block;
}

@media screen and (min-width: $screen-one) {
	//image positions
	.image_one{
		grid-column: 2/3;
		grid-row: 1;
	}
	.image_two{
		grid-column: 4/5;
		grid-row: 1;
	}
	.image_three{
		grid-column: 2/3;
		grid-row: 2;
	}
	.image_four{
		grid-column: 4/5;
		grid-row: 2;
	}
	.image_five{
		grid-column: 2/3;
		grid-row: 3;
	}
	.image_six{
		grid-column: 4/5;
		grid-row: 3;
	}
	.image_seven{
		grid-column: 2/3;
		grid-row: 4;
	}
	.image_eight{
		grid-column: 4/5;
		grid-row: 4;
	}
	.image_nine{
		grid-column: 2/3;
		grid-row: 5;
	}

	//navy background
	.background_navy{
		grid-column: 1/6;
		grid-row: 6;
		margin-top: 60px;
		padding: 140px 20px 140px;
	}

	//about section
	.sp_purple_about{
		grid-row: 7;
	}
	.about_one{
		grid-column: 2/5;
		grid-row: 8;
	}
	.about_two{
		grid-column: 2;
		grid-row: 9;
	}
	.about_three{
		margin-top: 20px;
		grid-column: 2/5;
		grid-row: 10;
	}
}

@media screen and (min-width: $screen-two) {
	//image positions
	.image_one{
		grid-column: 2/9;
		grid-row: 1;
	}
	.image_two{
		grid-column: 10/17;
		grid-row: 1;
	}
	.image_three{
		grid-column: 18/25;
		grid-row: 1;
	}
	.image_four{
		grid-column: 2/9;
		grid-row: 2;
	}
	.image_five{
		grid-column: 10/17;
		grid-row: 2;
	}
	.image_six{
		grid-column: 18/25;
		grid-row: 2;
	}
	.image_seven{
		grid-column: 2/9;
		grid-row: 3;
	}
	.image_eight{
		grid-column: 10/17;
		grid-row: 3;
	}
	.image_nine{
		grid-column: 18/25;
		grid-row: 3;
	}

	//navy background
	.background_navy{
		grid-column: 1/26;
		grid-row: 4;
		margin-top: 40px;
		padding: 140px 120px 140px;
	}

	//about section
	.sp_purple_about{
		grid-row: 5;
	}
	.about_one{
		grid-column: 2/10;
		grid-row: 6;
	}
	.about_two{
		grid-column: 2/5;
		grid-row: 7;
	}
	.about_three{
		margin-top: 0px;
		grid-column: 11/25;
		grid-row: 6/9;
	}
}

@media screen and (min-width: $screen-three) {
	//navy background
	.background_navy{
		margin-top: 80px;
		padding: 200px 170px 200px;
	}
}

@media screen and (min-width: $screen-four) {
	//navy background
	.background_navy{
		padding: 200px 0 200px;
		grid-column: 2/25;
	}
}